<% provide(:title, @meta_title) %>
<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="<%= @meta_description %>"
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta charset="UTF-8">
  <title><%= yield(:title) %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'layouts/shim' %>
</head>
<body>

<%= render 'layouts/navigation' %>

<div class="container-fluid" id="main-container">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
